.bel {
    font-family: 'PP Neue Montreal';
    font-weight: 500;
    width: 680px;
    position: relative;
    text-align: center;
    p {
        color: white;
        font-weight: 400;
        font-size: 128px;
        line-height: 90%;
        letter-spacing: -0.03em;

        @media (max-width: 920px) {
            font-size: 90px;
        }
        @media (max-width: 720px) {
            font-size: 44px;
        }
    }
    .gradient {
        position: absolute;
        top: 50px;
        right: 100px;
        width: 526px;
        height: 188px;
        opacity: 0.4;
        filter: blur(125px);
        background: linear-gradient(90deg, #f481ff 0%, #3fe2ff 100%);
    }
    button {
        margin-top: 56px;
        font-size: 20px;
        padding: 17px 20px;
        border-radius: 16px;
        background-color: #e6e6e6;

        @media (max-width: 720px) {
            margin-top: 32px;
        }
    }
}
