.card {
    max-width: 615px;
    background-color: var(--dark-gray);
    height: 780px;
    border-radius: 48px;
    padding: 32px;
    box-sizing: border-box;
    opacity: 0.8;
    transition: opacity 0.6s ease;
    margin-bottom: 24px;
    @media (max-width: 1530px) {
        max-width: 465px;
        height: 630px;
    }
    @media (max-width: 1260px) {
        width: 100%;
        max-width: none;
        min-width: auto;
        max-height: 580px;
    }
    @media (max-width: 720px) {
        padding: 14px;
        border-radius: 24px;
    }
    @media (max-width: 929px) {
        min-height: 396px;
        max-height: 396px;
    }
    img {
        width: 68px;
        height: 68px;
        object-fit: cover;
        border-radius: 50%;
        @media (max-width: 720px) {
            width: 40px;
            height: 40px;
        }
    }

    .text {
        margin-top: 40px;
        font-size: 48px;
        font-weight: 400;
        @media (max-width: 1530px) {
            font-size: 30px;
        }

        @media (max-width: 1102px) {
            font-size: 24px;
            line-height: 110%;
        }
        @media (max-width: 500px) {
            font-size: 18px;
            line-height: 110%;
        }
    }

    .header {
        gap: 16px;
        font-size: 20px;
        font-weight: 500;
        @media (max-width: 720px) {
            gap: 8px;
            & p {
                font-size: 16px;
            }
        }
    }

    .footer {
        font-size: 24px;
        font-weight: 400;
        font-family: 'Panama', sans-serif;
        opacity: 0.3;
        padding-bottom: 5px;
        @media (max-width: 1530px) {
            font-size: 18px;
        }

        @media (max-width: 932px) {
            font-size: 14px;
            line-height: 120%;
        }
        @media (max-width: 400px) {
            font-size: 12px;
            line-height: 120%;
        }
    }

    &:hover {
        opacity: 1;
        transform: scale(1.025) rotate(2deg);
        transition: transform 0.3s ease;
    }
}

.cards {
    margin-top: 298px;
    .h2 {
        text-align: center;
        & h2 {
            line-height: 90%;
            font-weight: 400;
            font-size: 128px;
            margin-bottom: 32px;
            @media (max-width: 920px) {
                font-size: 90px;
            }
            @media (max-width: 720px) {
                font-size: 44px;
                margin-bottom: 16px;
            }
        }

        & p {
            line-height: 120%;
            font-size: 20px;
            color: var(--light-grey);
            @media (max-width: 720px) {
                font-size: 16px;
            }
        }
        @media (max-width: 1260px) {
            margin-bottom: 32px;
        }
    }
    .blocks {
        margin-top: 300px;
        display: flex;
        justify-content: center;
        @media (max-width: 1260px) {
            display: none;
        }
        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;
            @media (max-width: 1900px) {
                grid-template-columns: repeat(2, 1fr);
            }
            .column1 {
                transform: translateY(-80px);
                & :nth-child(4) {
                    display: none;
                    @media (max-width: 1900px) {
                        display: block;
                    }
                }
            }

            .column2 {
                transform: translateY(-180px);
                & :nth-child(4) {
                    display: none;
                    @media (max-width: 1900px) {
                        display: block;
                    }
                }
                & :nth-child(5) {
                    display: none;
                    @media (max-width: 1900px) {
                        display: block;
                    }
                }
            }

            .column3 {
                display: block;
                transform: translateY(0);
                @media (max-width: 1900px) {
                    display: none;
                }
            }
        }
    }

    .swiper {
        display: none;
        height: 100%;
        @media (max-width: 1260px) {
            display: block;
        }
        .swiperSlide {
            width: 300px;
            height: 100%;
            @media (max-width: 1260px) {
                width: 240px;
            }
            @media (max-width: 929px) {
                width: 180px;
            }
        }
    }
}
